body {
  background:#0a0f1e;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family:Arial;
}

.phone {
  width:340px;
  height:640px;
  background:black;
  border-radius:30px;
  padding:10px;
}

.screen {
  background:#f2f5ff;
  height:100%;
  border-radius:20px;
  display:flex;
  flex-direction:column;
}

header {
  background:#003399;
  color:white;
  padding:15px;
  text-align:center;
  font-size:20px;
}

.content {
  flex:1;
  padding:20px;
}

.banks {
  display:grid;
  grid-template-columns:1fr;
  gap:15px;
  margin-top:15px;
}

.bank {
  background:white;
  border-radius:12px;
  padding:12px;
  display:flex;
  align-items:center;
  gap:12px;
  cursor:pointer;
  box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

.bank img {
  height:40px;
}

.bank span {
  font-weight:bold;
}
