body {
  background: linear-gradient(120deg, #74b9ff, #0984e3);
  font-family: Arial;
  text-align: center;
  color: white;
}

.app {
  margin-top: 80px;
  background: rgba(0,0,0,0.2);
  padding: 30px;
  border-radius: 15px;
  display: inline-block;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #ffeaa7;
}
