body {
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family:-apple-system, BlinkMacSystemFont;
}

.calculator {
  width:320px;
  background:black;
}

#display {
  color:white;
  font-size:60px;
  text-align:right;
  padding:20px;
}

.buttons {
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
  padding:10px;
}

button {
  height:70px;
  border-radius:50%;
  border:none;
  font-size:28px;
}

button.orange { background:#ff9f0a; color:white; }
button.gray { background:#a5a5a5; }

.zero {
  grid-column:span 2;
  border-radius:35px;
}
